@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.header {
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
input {
  border-radius: 8px;
  width: 250px;
  height: 24px;
  border: 1px solid rgb(172, 172, 172);
  align-self: center;
  font-size: 14px;
}
label {
  font-size: 16px;
}
input:focus {
  outline: 1px solid #3b82f6;
}
.start {
  background-color: #4ade80;
  border: none;
  width: 150px;
  height: 45px;
  border-radius: 10px;
  align-self: center;
  font-size: 18px;
}
.start:hover {
  background-color: #67f89c;
  transition: 0.5s;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(3, 130px);
}
.game {
  display: none;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.marker {
  box-sizing: border-box;
  border: 1px solid black;
  font-size: 70px;
  font-weight: bold;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marker:hover {
  transition: 0.5s;
  background-color: rgb(233, 227, 227);
}
.stats {
  display: flex;
  justify-content: space-between;
}
.first,
.second {
  display: flex;
  gap: 4px;
}
.p1,
.p2 {
  border-radius: 6px;
  width: 100px;
}
.one,
.two,
.three {
  border-left: none;
}
.one,
.four,
.seven {
  border-top: none;
}

.three,
.six,
.nine {
  border-bottom: none;
}
.seven,
.eight,
.nine {
  border-right: none;
}

.restart {
  background-color: #0f766e;
  color: white;
  font-size: large;
  padding: 20px;
  margin-top: 10px;
}
.back,
.restart,
.marker,
.start {
  cursor: pointer;
}
